<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=NORTHWND2;User ID=test2 ;Password=test2" />
    <add name="CommandBuilder.Properties.Settings.NORTHWND2ConnectionString"
      connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=NORTHWND2;User ID=test2;Password=test2"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>